@font-face {
    font-family: "Conduit ITC";
    src: url(Conduit-ITC.woff);
}
html {
    color: #FFF;
    font-family: "Conduit ITC", sans-serif;
}
label {
    float: left;
    font-size: 1.4vw;
}
.tabs {
    float: right;
    left: 15.75vw;
    top: 0.4vw;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 1vw;
    z-index: 3;
    width: 21vw;
}
.tabs li {
    display: inline;
}
.tabs li a {
    background: #14234a;
    color: #FFF;
    display: block;
    float: left;
    padding: 0.15vw 0.6vw;
    position: relative;
    text-decoration: none;
    border-top-left-radius:0.5vw;
    border-top-right-radius:0.5vw;
    margin-right: 2px;
}
.tabs li a:hover {
    background: #B1572A;
}
#settingsWindow {
    width: 33.75%;
    margin-bottom: 0;
    opacity: 0.85;
    position: absolute;
    font-size: 1.5vw;
    line-height: 1.75vw;  
    right:8%;
    top:44%
}
#settingsWindow div{
    width: 100%;
}
#settingsWindow div:not( #windowHeader) {
    background: #14234a;
    border: 1px solid #000;
    left: 0;
    padding: 20px;
    padding-top: 15px;
    position: absolute;
    top: 2.45vw;
    height: 25.5vw;
}
#windowHeader {
    padding: 0.5vw 27px 20px 15px;
    height: 2vw;
    background-color: #000;
    color: #FFF;
    line-height: 1.75vw;
    position: relative;
}
.setting {
    float: right;
    font-size: 1.1vw;
    font-weight: 700;
    height: 1.4vw;
    margin-right: 20px;
    margin-bottom: 0.5vw;
    margin-top: 0.2vw;
    position: absolute;
    right: 0;
    width: 15vw;
    font-family: "Conduit ITC", sans-serif;
    border: 1px solid grey;
    color: #474747;
}
.tinySetting {
    width: 3vw; 
    float: right; 
    margin-top: 0.2vw; 
    height: 1.4vw;
    font-size: 1.1vw;
    font-weight: 700;
    font-family: "Conduit ITC", sans-serif;
    text-align: center;
    border: 1px solid grey;
    color: #474747;
}
input.setting {
    padding-left: 5px;
}
input[type=range] {
    -webkit-appearance: none;
    float: right;
    width: 11.5vw;
    margin-right: 0.5vw;
    margin-top: 0.75vw;
    height: 0.25vw;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid grey;
  height: 1.25vw;
  width: 1.25vw;
  border-radius: 1vw;
  background: #efefef;
}
input[type=range]:focus, input[type=checkbox]:focus {
  outline: none;
}
#playerSettings:target,#serverSettings:target,#advancedSettings:target {
    z-index: 2;
}
#playerSettings:target ~ .tabs a[href='#playerSettings'],#serverSettings:target ~ .tabs a[href='#serverSettings'],#advancedSettings:target ~ .tabs a[href='#advancedSettings'] {
    background-color: #14234a;
    border-bottom: 1px solid #14234a;
    padding-bottom: 10px;
}

#controllerSettings #windowHeader {
    top: 0;
    height: 1vw;
    margin-bottom: 15px;
}
#closeButton {
    background-color: #000;
    border: 1px solid #FFF;
    border-radius: 0.3vw;
    color: #FFF;
    padding: 0;
    font-size: 1vw;
    font-weight: 700;
    line-height: 1.75vw;
    position: absolute;
    right: 0.4vw;
    top: 0.4vw;
    width: 1.75vw;
    height: 1.75vw;
    z-index: 10;
}
#closeButton:hover,#expandCollapse:hover {
    background-color: #B1572A;
}
#closeButton:focus,#expandCollapse:focus {
    outline: 0;
}
#controllerSettings {
    background-color: #14234a;
    border: 1px solid #000;
    color: #FFF;
    display: none;
    font-size: 15pt;
    font-weight: 700;
    height: 475px;
    opacity: 0.8;
    position: relative;
    top: 40px;
    width: 1205px;
}
#presets {
    float: right;
    font-size: 16pt;
    margin-right: 260px;
    margin-top: -2px;
}
#presetMenu {
    font-size: 13pt;
    height: 22px;
    margin-left: 10px;
    margin-top: 3px;
    width: 380px;
}
#controls,#vehicle,#other,#advanced {
    border: 1px solid #FFF;
    float: left;
    line-height: 27px;
    margin-left: 20px;
    min-height: 220px;
    padding: 10px;
    position: relative;
    width: 220px;
}
#controls select,#extendedControls select {
    float: right;
}
#controllerGraphic {
    float: right;
    position: relative;
    right: 250px;
    top: 60px;
}
#controllerGraphic div {
    height: 32px;
    line-height: 16px;
    position: absolute;
    width: 250px;
    z-index: -1;
}
#controllerPic {
    position: relative;
    top: 5px;
}
#extendedControls {
    background-color: #14234a;
    border: 1px solid #000;
    border-top: 0;
    display: none;
    height: 260px;
    left: -1px;
    position: absolute;
    top: 475px;
    width: 1205px;
}
#expandCollapse {
    background-color: #14234a;
    border: 2px solid #000;
    border-radius: 10px;
    bottom: -10px;
    color: #FFF;
    font-size: 13pt;
    height: 26px;
    left: 540px;
    letter-spacing: 3px;
    padding-left: 22px;
    padding-right: 20px;
    position: absolute;
}
#advanced {
    width: 610px;
}

.bind {
    float: right;
    font-size: 10pt;
    font-weight: bold;
    height: 22px;
    margin-right: 20px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    width: 70px;
}
#A {
    left: 443px;
    top: 177px;
}
#B {
    left: 435px;
    top: 144px;
}
#X {
    left: 420px;
    top: 78px;
}
#Y {
    left: 428px;
    top: 111px;
}
#RS {
    left: 441px;
    top: 216px;
}
#RB {
    left: 395px;
    top: 22px;
}
#RT {
    left: 324px;
    top: -30px;
}
#LT {
    right: 321px;
    text-align: right;
    top: -30px;
}
#LB {
    right: 390px;
    text-align: right;
    top: 22px;
}
#Start {
    height: 20px!important;
    right: 411px;
    text-align: right;
    top: 78px;
}
#Back {
    height: 20px!important;
    right: 434px;
    text-align: right;
    top: 101px;
}
#LS {
    right: 443px;
    text-align: right;
    top: 127px;
}
#Left {
    right: 444px;
    text-align: right;
    top: 202px;
}
#Right {
    left: 180px;
    top: 263px;
}
#Up {
    right: 444px;
    text-align: right;
    top: 167px;
}
#Down {
    right: 438px;
    text-align: right;
    top: 237px;
}